In [ ]:
print("REJONA SUSAN.J")
print("21BEC0052")

REJONA SUSAN.J
21BEC0052

In [ ]:
#importing libs
import pandas as pd
import numpy as np

In [ ]:
#Task_1
# creating pandas dataframe with random values
rows = 4
cols = 4

random_values = np.random.uniform(low = 0, high= 3, size=(rows,cols))

df = pd.DataFrame(random_values, columns=['Column 1', 'Column 2', 'Column 3', 'Column 4'])
print(df)

   Column 1  Column 2  Column 3  Column 4
0  0.096052  0.675183  2.704834  2.845154
1  2.726288  1.835216  2.659693  2.575720
2  0.035790  2.393662  2.326222  2.557541
3  1.692560  1.027057  0.868447  1.663232

In [ ]:
#Task_2
new_col_mapping = {
    'Column 1': 'Random value 1',
    'Column 2': 'Random value 2',
    'Column 3': 'Random value 3',
    'Column 4': 'Random value 4'
}

df.rename(columns=new_col_mapping, inplace = True)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.096052        0.675183        2.704834        2.845154
1        2.726288        1.835216        2.659693        2.575720
2        0.035790        2.393662        2.326222        2.557541
3        1.692560        1.027057        0.868447        1.663232

In [ ]:
#Task_3
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         1.137673        1.482779        2.139799        2.410412
std          1.307761        0.777563        0.864223        0.515186
min          0.035790        0.675183        0.868447        1.663232
25%          0.080986        0.939088        1.961778        2.333964
50%          0.894306        1.431136        2.492958        2.566630
75%          1.950992        1.974827        2.670978        2.643078
max          2.726288        2.393662        2.704834        2.845154

In [ ]:
#Task_4
null_values = df.isnull()
print(null_values)

data_type = df.dtypes
print(data_type)

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
#Task_5
#1.location method
row = df.loc[:,'Random value 2': 'Random value 3']
print(row)

   Random value 2  Random value 3
0        0.675183        2.704834
1        1.835216        2.659693
2        2.393662        2.326222
3        1.027057        0.868447

In [ ]:
#2.index location method
val = df.iloc[:,1:3]
print(val)

   Random value 2  Random value 3
0        0.675183        2.704834
1        1.835216        2.659693
2        2.393662        2.326222
3        1.027057        0.868447